<div class="booking_page">
<div class="container">
  <h4 class="margin">Reserve your car now</h4>
  <div class="row margin">
    <div class="col-md-4 left">
      works
    </div>
    <div class="col-md-8 right">
      <div class="row">
        <div class="white-panel">
          <div class="price_detail">
            <h3>Total amount of your booking</h3>
            <div class="price_total">
              <span class="pay_now">Pay Now Special</span>
              $109.8
              <sup>81</sup>
            </div>
            <div class="tb">
              <div class="tb_row">
                <div class="tb_cell bold">3 days @ $30.84/day</div>
                <div class="tb_cell bold">$92.52</div>
              </div>
              <div class="tb_row">
                <div class="tb_cell bold">3 days @ $30.84/day</div>
                <div class="tb_cell bold">$92.52</div>
              </div>
              <div class="tb_row">
                <div class="tb_cell bold">3 days @ $30.84/day</div>
                <div class="tb_cell bold">$92.52</div>
              </div>
            </div>

          </div>
        </div>
        <div class="white-panel">
          <h3>Driver Information</h3>
          <form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>First Name:</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group col-md-4 second">
                <label>Last Name:</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>Email Address:</label>
                <input type="email" class="form-control">
              </div>
              <div class="form-group col-md-4 second">
                <label>Phone:</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </form>
        </div>
        <div class="white-panel">
          <h3>Payment Information</h3>
          <p class="credit_term">A valid credit card is necessary to complete the booking. We accept:</p>
          <ul class="credit_card">
            <li><img src="../../assets/credit_cards/visa.png"></li>
            <li><img src="../../assets/credit_cards/master.png"></li>
            <li><img src="../../assets/credit_cards/american_express.png"></li>
            <li><img src="../../assets/credit_cards/discover.png"></li>
          </ul><br><br>
          <form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>Credit Card Number:</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group col-md-2 second">
                <label>CVC Code:</label>
                <input type="text" class="form-control">
              </div>
            </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Expiration Date:</label>
              <select class="form-control"><option value="">Month</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>
            <div class="form-group col-md-3 second">
              <label class="spec">E</label>
              <select class="form-control"><option value="">Year</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 form-group">
              <label>First Name</label>
              <input class="form-control" type="text">
            </div>
            <div class="col-md-4 form-group">
              <label>Last Name</label>
              <input class="form-control" type="text">
            </div>
          </div>
            <div class="form-row">
              <div class="col-md-4 form-group">
                <label>Billing Address</label>
                <input class="form-control" type="text">
              </div>
              <div class="col-md-4 form-group">
                <label>Billing Address2</label>
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4 form-group">
                <label>City</label>
                <input class="form-control" type="text">
              </div>
              <div class="col-md-4 form-group">
                <label>Zip/Postal Code</label>
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4 form-group">
                <label>Country</label>
                <select class="form-control"><!----><option value="182">Albania</option>
                  <option value="201">Algeria</option>
                  <option value="253">American Samoa</option>
                  <option value="70">Andorra</option>
                  <option value="252">Angola</option>
                  <option value="251">Anguilla</option>
                  <option value="190">Antigua And Barbuda</option>
                  <option value="72">Argentina</option>
                  <option value="80">Armenia</option>
                  <option value="35">Aruba</option>
                  <option value="33">Australia</option>
                  <option value="54">Austria</option>
                  <option value="250">Azerbaijan</option>
                  <option value="105">Bahamas</option>
                  <option value="170">Bahrain</option>
                  <option value="185">Barbades</option>
                  <option value="249">Belarus</option>
                  <option value="16">Belgium</option>
                  <option value="53">Belize</option>
                  <option value="248">Benin</option>
                  <option value="168">Bolivia</option>
                  <option value="259">Bonaire</option>
                  <option value="160">Bosnia And Herzegovina</option>
                  <option value="247">Botswana</option>
                  <option value="68">Brazil</option>
                  <option value="254">British Virgin Island</option>
                  <option value="161">Brunei Darussalam</option>
                  <option value="57">Bulgaria</option>
                  <option value="246">Burkina Faso</option>
                  <option value="245">Cambodia</option>
                  <option value="244">Cameroon</option>
                  <option value="9">Canada</option>
                  <option value="187">Cape Verde</option>
                  <option value="192">Cayman Islands</option>
                  <option value="243">Central African Republic</option>
                  <option value="46">Chile</option>
                  <option value="158">China</option>
                  <option value="241">Christmas Island</option>
                  <option value="186">Colombia</option>
                  <option value="240">Congo</option>
                  <option value="239">Congo</option>
                  <option value="238">Cook Islands</option>
                  <option value="36">Costa Rica</option>
                  <option value="47">Croatia</option>
                  <option value="42">Cuba</option>
                  <option value="94">Curacao</option>
                  <option value="50">Cyprus</option>
                  <option value="61">Czech Republic</option>
                  <option value="37">Denmark</option>
                  <option value="78">Dominica</option>
                  <option value="41">Dominican Republic</option>
                  <option value="75">Ecuador</option>
                  <option value="74">Egypt</option>
                  <option value="117">El Salvador</option>
                  <option value="236">Equatorial Guinea</option>
                  <option value="73">Estonia</option>
                  <option value="235">Faroe Islands</option>
                  <option value="203">Federated States Of Micronesia</option>
                  <option value="234">Fiji</option>
                  <option value="38">Finland</option>
                  <option value="1">France</option>
                  <option value="58">French Guiana</option>
                  <option value="92">French Polynesia</option>
                  <option value="233">Gabon</option>
                  <option value="232">Gambia</option>
                  <option value="231">Georgia</option>
                  <option value="2">Germany</option>
                  <option value="230">Ghana</option>
                  <option value="205">Gibraltar</option>
                  <option value="11">Greece</option>
                  <option value="199">Greenland</option>
                  <option value="229">Grenada</option>
                  <option value="4">Guadeloupe</option>
                  <option value="255">Guam</option>
                  <option value="52">Guatemala</option>
                  <option value="155">Guernsey</option>
                  <option value="228">Guinea</option>
                  <option value="227">Haiti</option>
                  <option value="116">Honduras</option>
                  <option value="226">Hong_kong</option>
                  <option value="59">Hungary</option>
                  <option value="24">Iceland</option>
                  <option value="164">India</option>
                  <option value="137">Indonesia</option>
                  <option value="21">Ireland</option>
                  <option value="49">Israel</option>
                  <option value="10">Italy</option>
                  <option value="237">Ivory Coast</option>
                  <option value="118">Jamaica</option>
                  <option value="204">Japan</option>
                  <option value="154">Jersey</option>
                  <option value="93">Jordan</option>
                  <option value="66">Kenya</option>
                  <option value="219">Korea Democratic People's Republic Of</option>
                  <option value="159">Korea Republic Of</option>
                  <option value="149">Kosovo</option>
                  <option value="172">Kuwait</option>
                  <option value="86">Latvia</option>
                  <option value="258">Lebanon</option>
                  <option value="225">Lesotho</option>
                  <option value="60">Libyan Arab Jamahiriya</option>
                  <option value="261">Liechtenstein</option>
                  <option value="63">Lithuania</option>
                  <option value="7">Luxembourg</option>
                  <option value="162">Macao</option>
                  <option value="88">Macedonia</option>
                  <option value="81">Madagascar</option>
                  <option value="224">Malawi</option>
                  <option value="143">Malaysia</option>
                  <option value="223">Mali</option>
                  <option value="17">Malta</option>
                  <option value="5">Martinique</option>
                  <option value="44">Mauritius</option>
                  <option value="181">Mayotte</option>
                  <option value="18">Mexico</option>
                  <option value="200">Monaco</option>
                  <option value="198">Mongolia</option>
                  <option value="173">Montenegro</option>
                  <option value="43">Morocco</option>
                  <option value="91">Mozambique</option>
                  <option value="48">Namibia</option>
                  <option value="222">Nauru</option>
                  <option value="64">Netherlands</option>
                  <option value="8">New Caledonia</option>
                  <option value="32">New Zealand</option>
                  <option value="82">Nicaragua</option>
                  <option value="221">Nigeria</option>
                  <option value="220">Niue</option>
                  <option value="257">Northern Mariana Islands</option>
                  <option value="39">Norway</option>
                  <option value="104">Oman</option>
                  <option value="146">Pakistan</option>
                  <option value="202">Palau</option>
                  <option value="183">Panama</option>
                  <option value="218">Papua New Guinea</option>
                  <option value="174">Paraguay</option>
                  <option value="76">Peru</option>
                  <option value="166">Philippines</option>
                  <option value="26">Poland</option>
                  <option value="19">Portugal</option>
                  <option value="193">Puerto Rico</option>
                  <option value="171">Qatar</option>
                  <option value="101">Republic Of Moldova</option>
                  <option value="6">Reunion</option>
                  <option value="55">Romania</option>
                  <option value="184">Russian Federation</option>
                  <option value="34">Saint Barthelemy</option>
                  <option value="217">Saint Kitts And Nevis</option>
                  <option value="77">Saint Lucia</option>
                  <option value="191">Saint Martin</option>
                  <option value="108">Saint Vincent And The Grenadines</option>
                  <option value="216">Samoa</option>
                  <option value="215">Sao Tome And Principe</option>
                  <option value="214">Saudi Arabia</option>
                  <option value="65">Senegal</option>
                  <option value="150">Serbia</option>
                  <option value="87">Seychelles</option>
                  <option value="165">Singapore</option>
                  <option value="260">Sint Maarten</option>
                  <option value="79">Slovakia</option>
                  <option value="69">Slovenia</option>
                  <option value="213">Solomon Islands</option>
                  <option value="30">South Africa</option>
                  <option value="12">Spain</option>
                  <option value="96">Sri Lanka</option>
                  <option value="197">Sudan</option>
                  <option value="169">Suriname</option>
                  <option value="212">Swaziland</option>
                  <option value="40">Sweden</option>
                  <option value="23">Switzerland</option>
                  <option value="99">Syrian Arab Republic</option>
                  <option value="211">Taiwan</option>
                  <option value="83">Tanzania United Republic Of</option>
                  <option value="242">Tchad</option>
                  <option value="67">Thailand</option>
                  <option value="210">Togo</option>
                  <option value="194">Tokelau</option>
                  <option value="209">Tonga</option>
                  <option value="195">Trinidad And Tobago</option>
                  <option value="20">Tunisia</option>
                  <option value="62">Turkey</option>
                  <option value="196">Turks And Caicos Islands</option>
                  <option value="256">US Virgin Island</option>
                  <option value="188">Uganda</option>
                  <option value="89">Ukraine</option>
                  <option value="100">United Arab Emirats</option>
                  <option value="13">United Kingdom</option>
                  <option value="3">United States</option>
                  <option value="119">Uruguay</option>
                  <option value="208">Vanuatu</option>
                  <option value="156">Venezuela</option>
                  <option value="207">Vietnam</option>
                  <option value="98">Yemen</option>
                  <option value="206">Zambia</option>
                  <option value="71">Zimbabwe</option>
                </select>
              </div>
              <div class="col-md-4 form-group">
                <label>State</label>
                <select class="form-control"><option value="">Please Choose State</option>
                  <option value="AL">Alabama (AL)</option>
                  <option value="AK">Alaska (AK)</option>
                  <option value="AZ">Arizona (AZ)</option>
                  <option value="AR">Arkansas (AR)</option>
                  <option value="AA">Armed Forces Americas (AA)</option>
                  <option value="AE">Armed Forces Europe/Middle East/Canada (AE)</option>
                  <option value="AP">Armed Forces Pacific (AP)</option>
                  <option value="CA">California (CA)</option>
                  <option value="CO">Colorado (CO)</option>
                  <option value="CT">Connecticut (CT)</option>
                  <option value="DE">Delaware (DE)</option>
                  <option value="DC">District of Columbia (DC)</option>
                  <option value="FL">Florida (FL)</option>
                  <option value="GA">Georgia (GA)</option>
                  <option value="HI">Hawaii (HI)</option>
                  <option value="ID">Idaho (ID)</option>
                  <option value="IL">Illinois (IL)</option>
                  <option value="IN">Indiana (IN)</option>
                  <option value="IA">Iowa (IA)</option>
                  <option value="KS">Kansas (KS)</option>
                  <option value="KY">Kentucky (KY)</option>
                  <option value="LA">Louisiana (LA)</option>
                  <option value="ME">Maine (ME)</option>
                  <option value="MD">Maryland (MD)</option>
                  <option value="MA">Massachusetts (MA)</option>
                  <option value="MI">Michigan (MI)</option>
                  <option value="MN">Minnesota (MN)</option>
                  <option value="MS">Mississippi (MS)</option>
                  <option value="MO">Missouri (MO)</option>
                  <option value="MT">Montana (MT)</option>
                  <option value="NE">Nebraska (NE)</option>
                  <option value="NV">Nevada (NV)</option>
                  <option value="NH">New Hampshire (NH)</option>
                  <option value="NJ">New Jersey (NJ)</option>
                  <option value="NM">New Mexico (NM)</option>
                  <option value="NY">New York (NY)</option>
                  <option value="NC">North Carolina (NC)</option>
                  <option value="ND">North Dakota (ND)</option>
                  <option value="OH">Ohio (OH)</option>
                  <option value="OK">Oklahoma (OK)</option>
                  <option value="OR">Oregon (OR)</option>
                  <option value="PA">Pennsylvania (PA)</option>
                  <option value="RI">Rhode Island (RI)</option>
                  <option value="SC">South Carolina (SC)</option>
                  <option value="SD">South Dakota (SD)</option>
                  <option value="TN">Tennessee (TN)</option>
                  <option value="TX">Texas (TX)</option>
                  <option value="UT">Utah (UT)</option>
                  <option value="VT">Vermont (VT)</option>
                  <option value="VA">Virginia (VA)</option>
                  <option value="WA">Washington (WA)</option>
                  <option value="WV">West Virginia (WV)</option>
                  <option value="WI">Wisconsin (WI)</option>
                  <option value="WY">Wyoming (WY)</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="white-panel">
          <h3>Complete Your Reservation</h3>
          <ul class="points">
            <li>The name on the credit card used to make the reservation must match the driver's name.</li>
            <li>The same credit card must be presented at the counter upon pick-up.</li>
            <li>Your card will be charged for the total cost of this reservation 109.81 (USD) when you reserve your car.</li>
            <!----><!---->                    <li>This pre-paid reservation cannot be changed or refunded.</li>
            <!----><!----><!----><!----></ul>
          <hr>

        </div>
      </div>
      <div class="row">works</div>
    </div>
  </div>

</div>
</div>
