.booking_page{
  padding: 20px 0 0;
  background-color: #ebebeb;

}
.left{
  background-color: #00B7FF;
}

.right{
  background-color: #4CAF50;
}

.margin{
  margin-left: 5%;
  margin-right: 5%;
}

.white-panel{
  background-color: #fff;
  padding: 20px 15px 8px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dedede;
  width: 100%;
}

.white-panel-last{
  background-color: #fff;
  padding: 20px 15px 8px;
  /*margin-bottom: 15px;*/
  border-bottom: 1px solid #dedede;
  width: 100%;
}


.price_detail{
  display: inline-block;
  width: 100%;
}

.price_total{
  font-size: 2.25rem;
  display: block;
  color: #000;
  font-family: "Roboto Condensed",sans-serif;
  font-weight: 700;
  width: 100%;
  text-align: right;

}

.pay_now{
  color: #F66500;
  font-size: 14px;
  top: 12px;
  position: relative;
  font-weight: 500;
  float: left;
}

.price_detail h3{
  color: #f37121;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.tb{
  margin-top: 15px;
  width: 100%;
  display: table;

}

.tb .tb_row{
  display: table-row;
}

.tb_cell{
  display: table-cell;
}

.tb_cell.bold{
  font-weight: 700;
}

.tb_row .tb_cell:first-child {
  text-align: left;
  width: 80%;
  font-size: .8125rem;
  line-height: 1.3125rem;
}

.tb_row .tb_cell {
  text-align: right;
  padding: 3px 0;
  width: 20%;
  font-size: .8125rem;
  line-height: 1.3125rem;
}

.white-panel h3{
  color: #f37121;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.white-panel-last h3{
  color: #f37121;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.form-row .second{
  margin-left: 20px;
}

.form-group label{
  font-size: .8125rem;
  line-height: 1.3125rem;
}

.credit_card{
  margin-top: 15px;
  margin-bottom: 15px;
  list-style: none;
}

.credit_term{
  font-size: .8125rem;
  line-height: 1.3125rem;
}

.credit_card li{
  margin-right: 12px;
  float: left;
  width: 50px;
}

.credit_card img{
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.spec{
  color: #fff;
}

.points{
  list-style: disc;
  padding-left: 20px;
  font-size: .8125rem;
  line-height: 1.3125rem;
}

.agree{
  font-size: .8125rem;
  line-height: 1.3125rem;
}

#terms, #privacy{
  color: #f37121;
}

.orange{
  background-color: #f37121;
  color: #fff;
}

.new_form{
  color: #666;
  text-align: left;
  margin-bottom: 100px;
}

.new_list{
  list-style: none;
}

.new_item{
  background: #f4f4f4;
  /*margin-bottom: 1px;*/
  /*!*padding: 5px 5px 5px 5px;*!*/
}

.new_label{
  width: 60%;
  float: left;
  margin-left: 10px;
  font-size: .8125rem;
  line-height: 1.3125rem;
  display: inline;
}

.new_blank{
  width: 60%;
  display: inline;
}


.new_price{

  width: 20%;
  float: left;
  margin-left: 10px;
  font-size: .8125rem;
  line-height: 1.3125rem;
  display: inline;
}

.new_check{
  display: inline-block;
  vertical-align: middle;
  float: right;
  width: 10%;
}
