<form action="">
  <hr style="margin-top:0px; margin-bottom:0px">
  <nav class="navbar navbar-light bg-light">
    <div class="input-group">
      <input type="text" class="form-control" style="width:50px" placeholder="Pick up location">
      <p>→</p>
      <input type="text" class="form-control" style="width:50px" placeholder="Drop off location">
      <a href="" style="padding-left:5px;padding-right:10px"></a>
      <input type="date" value="2018-04-01"/>
      <a href="" style="padding-left:5px;padding-right:5px"></a>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Time
        </button>
      </div>
      <a href="" style="padding-left:5px;padding-right:5px"></a>
      <input type="date" value="2018-04-10"/>
      <a href="" style="padding-left:5px;padding-right:5px"></a>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Time
        </button>
      </div>
      <a href="" style="padding-left:5px;padding-right:5px"></a>
      <button type="button" class="btn btn-warning">Search</button>
    </div>

  </nav>
</form>
