<form action="">
  <hr>
  <nav class="navbar navbar-light bg-light">
    <div class="row" style = "width:100%;margin-left:5px">
      <input [(ngModel)]="pLocation" [ngModelOptions]="{standalone: true}" type="text" class="place form-control" style="width:180px" placeholder="Pick up location">
      <p>→</p >
      <input [(ngModel)]="dLocation" [ngModelOptions]="{standalone: true}" type="text" class="place form-control" placeholder="Drop off location">
      <input [(ngModel)]="pDate" [ngModelOptions]="{standalone: true}" type="date" class = "division form-control form-control-sm" />
      <select [(ngModel)]="pTime" [ngModelOptions]="{standalone: true}" class = "division form-control form-control-sm" style = "height:38px">
        <option *ngFor="let pickuptime of times" [value]="pickuptime.viewValue">
          {{pickuptime.viewValue}}
        </option>
      </select>
      <input [(ngModel)]="dDate" [ngModelOptions]="{standalone: true}" type="date" class="division form-control form-control-sm" />
      <select [(ngModel)]="dTime" [ngModelOptions]="{standalone: true}" class = "division form-control form-control-sm" style = "height:38px">
        <option *ngFor="let dropofftime of times" [value]="dropofftime.viewValue">
          {{ dropofftime.viewValue }}
        </option>
      </select>
      <button type="button" class="search btn btn-warning scbtn-width">SEARCH</button>
    </div>
    <p>{{pLocation}},{{dLocation}},{{pDate}},{{pTime}},{{dDate}},{{dTime}}</p >

  </nav>
</form>
