#main_row{
    padding: 5px;
}
#model_name {
    font-weight: 700;
    font-size: 40px;
}
li{
  list-style: none;
}
#image {
    height: 100px;
    width: 200px;
}
#card {
    background: rgb(255, 255, 255);
    flex-direction: row;
    border:1px solid #eee;
    box-shadow: 0 0 5px rgba(0,0,0,.1)
}

#col_r {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(245,245,245);
}
#price_text{
    font-size: 20px;
}
#pickuptext {
    color: rgb(153,153,153);
    font-size: 30px;
}
#button_row{
  position: relative;
  margin-top: 30%;
  text-align: center;
}
#continue_button {
    position: relative;
    align-items: center;
    background-color: rgb(243,113,33);
}

#check {
  width:  30% ;
  height:  30%;
}
