<app-header></app-header>
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-6">-->
      <!--<h1 class="form-signin-heading">Your profile</h1>-->
      <!--<div class="form-horizontal">-->
        <!--<div class="form-group">-->
          <!--<label class="col-sm-3 control-label">Full name</label>-->
          <!--<p class="form-control-static">{{ details?.name }}</p>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label class="col-sm-3 control-label">Email</label>-->
          <!--<p class="form-control-static">{{ details?.email }}</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
<div class="container">
  <div class="row" style="margin-top: 20px">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item active" (click)="onclick($event)" routerLink="/profile/bookings" [queryParams]="{email:details?.email}">My Booking</li>
        <li class="list-group-item" (click)="onclick($event)" routerLink="/profile/account" [queryParams]="{email:details?.email}">Account Details</li>
        <li class="list-group-item" (click)="onclick($event)" routerLink="/profile/favoritelist" [queryParams]="{email:details?.email}">Favorite List</li>
      </ul>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>

