<div class = "layout">
    <!-- Content here -->
    <p>Car Information</p>
  <button (click)="getCarlists()" >REQ</button>
  <button (click)="postCarInfo()" >post</button>
  <div>
    <p>Car Lists DATA:</p>
    <ul *ngFor="let car of showinglist, let i = index">
      <li [ngClass]="{'highlight' : selected == i, 'not-highlight' : selected!=i}"
          (click)="onSelect(i)" > <app-card [car]="car"> </app-card> </li>
    </ul>
  </div>

  <app-pagination
    (goPage)="goToPage($event)"
    (goNext)="onNext()"
    (goPrev)="onPrev()"
    [pagesToShow]="8"
    [page]="page"
    [perPage]="limit"
    [count]="total"></app-pagination>

  </div>
