<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" style = "margin-left : 50px ;margin-right : 15%" href="/">
    <!--<img  [class.show]="!booleanFromComponentClass" class="step" (mouseenter) = "changeImg()" (mouseleave) ="changeImg()" [src]="imgSrc" width = "15%" height = "15%" alt="">-->
    <img  [@visibilityChanged]="visiblityState" (mouseenter) = "changeImg()" (mouseleave) ="resetImg()"[src]="imgSrc" width = "15%" height = "15%" alt="">
  </a>
    <button *ngIf="!auth.isLoggedIn()" type="button" class="btn btn-outline-primary" routerLink="/register">Register</button>
    <p *ngIf="!auth.isLoggedIn()">or</p>
    <button *ngIf="!auth.isLoggedIn()" type="button" class="btn btn-outline-primary" routerLink="/login">Sign in</button>
  <a *ngIf="auth.isLoggedIn()" routerLink="/profile">Hi, {{details?.name}}</a>
  <button *ngIf="auth.isLoggedIn()" type="button" class="btn btn-outline-primary" (click)="auth.logout()">Log out</button>
</nav>
